body{
    text-align: center;
background: rgb(229, 88, 203);
}
nav{
    position: absolute;
    top: 100px;
    right: 75px;
}
nav a {
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 15px;
    font-size: 20px;
    color: rgb(156, 9, 129);
}
nav a:hover {
    font-size: 23px;
    font-weight: bold;
    color: rgb(116, 11, 100);
    transition: 0.5s;
}
h3{
    text-align: left;
}
 .logo {
    width: 15%;
    border-radius: 100%;
}
.capa{
    width: 100%;
}
.beneficios{
    background: rgb(206, 84, 189);
    text-align: left;
}
ul{
    display: inline-block;
    vertical-align: top;
    font-size: 150%;
margin-right: 150px;
}
li{
    padding: 30px;
}
.foto.beneficios{
    width:  50%;
    
}


